* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(2, 46, 61, 0.899);
}

html {

    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}


a:hover {
    color: red;
}

/* header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2.2rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 3.3rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 6rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: red;
    color: white;
    padding: 0.8rem 1.3rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale .2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    z-index: 1;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.333);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: hight .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a {
    font-size: 4rem;
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



@media(max-width:1375px) {
    html {
        font-size: 55%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:1215px) {
    html {
        font-size: 50%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:1100px) {
    html {
        font-size: 45%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:985px) {
    html {
        font-size: 40%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:880px) {
    html {
        font-size: 35%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:767px) {
    html {
        font-size: 30%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:660px) {
    html {
        font-size: 25%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media (max-width: 600px) {

    .navbar .link,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }
}

@media(max-width:436px) {
    html {
        font-size: 18%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }

    .dropdown_menu.open {
        height: 195px;
    }
}

@media(max-width:334px) {
    html {
        font-size: 12%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }

    .dropdown_menu.open {
        height: 130px;
    }
}

@media(max-width:262px) {
    html {
        font-size: 10%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

.box1 {
    height: 80rem;
    justify-content: center;
    position: relative;
    text-align: center;
}

.shaheer {
    border-radius: 3rem;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 22%;
    bottom: 20%;
    left: 22%;
    height: 40rem;
    width: 80rem;
    background-color: rgba(128, 128, 128, 0.556);
    transition: background-color 1s ease-in-out;
}

.shaheer:hover {
    background-color: rgba(128, 128, 128, 0);
    transition: background-color 1s ease-in-out;
}

.textburger {
    margin-top: 8rem;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 2.5rem;
    color: red;
    text-shadow: .2rem .2rem .2rem black;
    transition: color 1s ease;
}

.textburger:hover {
    color: white;
    transition: color 1s ease;
    scale: 1.05;
}

.textburger :active {
    scale: 0.95;
}

.textcorner {
    font-weight: bold;
    transition: color 1s ease;
    font-size: 4.5rem;
    letter-spacing: 1rem;
    color: red;
    text-shadow: .2rem .2rem .2rem black;
}

.textcorner:hover {
    color: white;
    transition: color 1s ease;
    scale: 1.05;
}

.textcorner:active {
    scale: 0.95;
}

#box3 {
    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color: rgba(2, 46, 61, 0.899);
    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

#box3:hover {

    color: red;
    transition: color 1s ease-in-out;

}

.text3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: 1rem;
}

#box4 {
    position: relative;
    background-repeat: no-repeat;
    height: 60rem;

}

.text1 {


    text-shadow: .2rem .4rem .4rem #000000;
    color: white;
    position: absolute;
    top: 20rem;
    left: 30rem;
    right: 30rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: .5rem;


}

.text2 {
    text-shadow: .2rem .4rem .4rem black;
    color: white;
    position: absolute;
    font-style: italic;
    font-size: 4rem;
    line-height: 5rem;
    top: 40rem;
    left: 40rem;
    right: 40rem;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.box5 {
    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 40rem;

}

.circle1 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle1 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color:  rgb(2, 46, 61);
}

.circle1text {
    text-decoration: none;
    font-size: 6rem;
    font-weight: bolder;
    line-height: 6rem;
    letter-spacing: .5rem;
    line-height: 8.5rem;

}

.wow {
    color: white;
    text-shadow: .2rem .3rem .1rem black;
}

.fresh {
    color: red;
    text-shadow: .4rem .5rem .2rem white;
}

.meat {

    color: red;
    text-shadow: .4rem .5rem.2rem white;
}

.circle2 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle2 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color: orangered;
}

.handcrafted {
    text-shadow: .2rem .2rem .2rem white;
    color: rgb(17, 61, 142);
    font-weight: bolder;
    font-style: italic;
    font-size: 4.4rem;
    padding-top: 6rem;

}

.burgers {
    text-shadow: .2rem .2rem .3rem black;
    font-size: 5.7rem;
    color: white;
}

.circle3 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle3 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color:  rgb(2, 46, 61);
}


.allnatural {

    margin-top: 4.7rem;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    color: white;
    text-shadow: .2rem .2rem .3rem black;
}

.ingredients {
    line-height: 11rem;
    color: red;
    text-shadow: .4rem .5rem .2rem white;
    font-size: 5.3rem;
    font-weight: bolder;
    letter-spacing: 0rem;
}

#box6 {

    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color:  rgba(2, 46, 61, 0.899);
    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

#box6:hover {
    color: red;
    transition: color 1s ease-in-out;

}

.text4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: .5rem;
}

#box7 {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 50rem;
}

.subbox1 {
    text-align: center;
    height: 50rem;
    width: 50rem;
}

.subbox2 {
    height: 50rem;
    width: 50rem;
    background-color: red;

}

.subboxtext1 {
    text-shadow: .2rem .2rem .3rem black;
    margin-top: 13rem;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.subboxtext2 {
    text-shadow: .2rem .2rem .3rem black;
    color: red;
    font-size: 4rem;
    font-style: italic;
    font-weight: bolder;
    font-family: cursive;
}

.menubutton {

    border: .2rem solid red;
    border-radius: .6rem;
    letter-spacing: .2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    background-color: white;
    margin-top: 6rem;
    transition: background-color 1s ease-in-out;

}

.menubutton:hover {

    border-radius: .6rem;
    color: white;
    background-color: red;
    transition: background-color, 1.5s ease-in-out;
}

.box8 {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50rem;

}

.subbox3 {
    height: 50rem;
    width: 50rem;

}

.subbox4 {
    height: 50rem;
    width: 50rem;

}

.subboxtext3 {
    margin-top: 19rem;
    text-shadow: .2rem .2rem .3rem black;
    color:  rgba(2, 46, 61, 0.899);
    font-size: 4rem;
    font-style: oblique;
    font-weight: bolder;
    font-family: cursive;
}

.subboxtext4 {
    text-shadow: .2rem .2rem .3rem black;
    color:  rgba(2, 46, 61, 0.899);
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.box9 {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50rem;


}

.subbox5 {
    height: 50rem;
    width: 50rem;
}

.subbox6 {
    background-color: red;
    height: 50rem;
    width: 50rem;

}

.subboxtext5 {
    margin-top: 18rem;
    text-shadow: .2rem .2rem .3rem black;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.subboxtext6 {
    line-height: 5rem;
    font-size: 2rem;
    text-shadow: .1rem .1rem .2rem black;
    color: red;
    font-weight: bolder;
    letter-spacing: 1.5rem;
    font-family: sans-serif;
}

.subboxtext7 {
    color: red;
    text-shadow: .2rem .2rem .3rem black;
    font-size: 5rem;
    letter-spacing: .5rem;
    font-style: oblique;
    font-family: cursive;

}

#box10 {

    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color:rgba(2, 46, 61, 0.899);

    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

#box10:hover {
    color: red;
    transition: color 1s ease-in-out;

}

.text5 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: .5rem;
}

.box11 {
    display: flex;
    justify-content: space-evenly;
    height: 60rem;
    background-color:rgba(2, 46, 61, 0.899);
}

.subbox7 {
    display: block;
    justify-content: center;
    text-align: center;
    height: 45rem;
}

.subbox8 {
    text-align: center;
    height: 30rem;

}

.subboxtext8 {

    text-shadow: .2rem .2rem .3rem black;
    letter-spacing: 0rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.subboxtext9 {
    text-shadow: .2rem .2rem .3rem black;
    letter-spacing: 0rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.subbox9 {
    margin-top: 2rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.map {
    border: .2rem solid red;
    border-radius: .6rem;
    letter-spacing: .2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 4rem;
    background-color:  rgba(2, 46, 61, 0.899);
    transition: background-color 1s ease-in-out;

}

.map:hover {
    border-radius: .6rem;
    color: white;
    background-color: red;
    transition: background-color, 1.5s ease-in-out;
}

.contacttext {
    color: red;
    text-shadow: .2rem .2rem .3rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    text-align: start;
}


.onebar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.2rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.secondbar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.thirdbar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.onebartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.secondbartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.thirdbartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.box12 {
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.364);   
   

}

.box12text1 {
    color: red;
    padding-top: 2rem;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
}


.ourmenu a {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: .1rem .1rem .2rem black;
    font-size: 2rem;
    transition: color 1s ease-in-out;
}

.ourmenu a:hover {
    color: red;
    transition: color 1s ease-in-out;
    scale: 1.05;
}

.ourmenu a:active {
    scale: 0.95;
}
.burg {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: start;
    color: white;
    letter-spacing: 0;
    text-shadow: .1rem .1rem .2rem black;
    font-size: 5rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transition: color 1s ease-in-out, border 1s ease-in-out;
}
.burg:hover {
    border-bottom: .2rem solid red;
    border-top: .2rem solid red;
    color: red;
    transition: color 1s ease-in-out, border 1s ease-in-out;
}
.burg:active {
    scale: 0.99;
}
.menubox1{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
     border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox1:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg1{
    height: 60%;
    margin-right: 4%;
    border: 2px solid white;
}
.img1text{
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.classic{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
}
.classic2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox2{
    display: flex;
    
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox2:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
} 

.menuimg2{
    height: 60%;
    margin-right: 4%;
    border: 2px solid white;
}
.img2text{
 
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.bacon{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
  
}
.bacon2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox3{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox3:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg3{
    height: 60%;
    margin-right: 4%;
    border: 2px solid white;
  
}
.img3text{
    
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.onion{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.onion2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox4{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox4:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg4{
    height: 60%;
    margin-right: 4%;
    border: .2rem solid white;
  
}
.img4text{
   
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.chicken{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.chicken2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.side {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: start;
    color: white;
    letter-spacing: 0;
    text-shadow: .1rem .1rem .2rem black;
    font-size: 5rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transition: color 1s ease-in-out, border 1s ease-in-out;
}
.side:hover {
    border-bottom: .2rem solid red;
    border-top: .2rem solid red;
    color: red;
    transition: color 1s ease-in-out, border 1s ease-in-out;
}
.side:active {
    scale: 0.99;
}
.menubox5{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox5:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg5{
    height: 68%;
    margin-right: 4%;
    border: .2rem solid white;
  
}
.img5text{
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.french{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.french2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox6{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox6:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg6{
    height: 73%;
    margin-right: 4%;
    border: .2rem solid white;
  
}
.img6text{
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.potato{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.potato2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox7{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox7:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg7{
    height: 74%;
    margin-right: 4%;
    border: .2rem solid white;
  
}
.img7text{
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.onionring{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.onionring2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.menubox8{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 25rem;
    border-bottom: .2rem solid white;
    transition: border .10s ease;
}
.menubox8:hover{
    border-bottom: .4rem solid red;
    transition: border .10s ease;
}
.menuimg8{
    height: 74%;
    margin-right: 4%;
    border: .2rem solid white;
  
}
.img8text{
    text-align: start;
    width: 70%;
    overflow-y: hidden;
}
.mashed{
    text-shadow: .2rem .2rem .2rem black;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    
}
.mashed2{
    text-shadow: .1rem .1rem .1rem black;
    margin-top: 3%;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}
.box13 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.321);
}

.box13text2 {
    color: red;
    padding-top: 2rem;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
}
