* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgba(2, 46, 61, 0.899);
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}


a:hover {
    color: orange;
}

/* header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2.2rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 3.3rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 6rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.8rem 1.3rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale .2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    z-index: 1;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.333);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: hight .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a {
    font-size: 4rem;
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



@media(max-width:1375px) {
    html {
        font-size: 55%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:1215px) {
    html {
        font-size: 50%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:1100px) {
    html {
        font-size: 45%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:985px) {
    html {
        font-size: 40%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:880px) {
    html {
        font-size: 35%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:767px) {
    html {
        font-size: 30%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media(max-width:660px) {
    html {
        font-size: 25%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

@media (max-width: 600px) {

    .navbar .link,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }
}

@media(max-width:436px) {
    html {
        font-size: 18%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }

    .dropdown_menu.open {
        height: 195px;
    }
}

@media(max-width:334px) {
    html {
        font-size: 12%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }

    .dropdown_menu.open {
        height: 130px;
    }
}

@media(max-width:262px) {
    html {
        font-size: 10%;
    }

    .navbar .logo a {
        font-size: 4rem;
        font-weight: bold;
    }
}

.box1 {
    justify-content: center;
    position: relative;
    text-align: center;
}

.textburger {
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-weight: bold;
    font-family: cursive;
    font-size: 6rem;
    letter-spacing: 2.5rem;
    color: red;
    text-shadow: .1rem 1rem .1rem black;


}

.textcorner {

    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    font-weight: bold;
    font-family: cursive;
    font-size: 6rem;
    letter-spacing: 1rem;
    color: red;
    text-shadow: .1rem 1rem .1rem black;
}

.box3 {
    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color: rgba(2, 46, 61, 0.899);
    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

.box3:hover {

    color: red;
    transition: color 1s ease-in-out;

}

.text3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: 1rem;
}

.box4 {
    position: relative;
    background-repeat: no-repeat;
    height: 60rem;

}

.text1 {


    text-shadow: .2rem .4rem .4rem #000000;
    color: white;
    position: absolute;
    top: 20rem;
    left: 30rem;
    right: 30rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: .5rem;


}

.text2 {
    text-shadow: .2rem .4rem .4rem black;
    color: white;
    position: absolute;
    font-style: italic;
    font-size: 4rem;
    line-height: 5rem;
    top: 40rem;
    left: 40rem;
    right: 40rem;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.box5 {
    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 40rem;

}

.circle1 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle1 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color: rgb(17, 61, 142);
}

.circle1text {
    text-decoration: none;
    font-size: 6rem;
    font-weight: bolder;
    line-height: 6rem;
    letter-spacing: .5rem;
    line-height: 8.5rem;

}

.wow {
    color: white;
    text-shadow: .2rem .3rem .1rem black;
}

.fresh {
    color: red;
    text-shadow: .4rem .5rem .2rem white;
}

.meat {

    color: red;
    text-shadow: .4rem .5rem.2rem white;
}

.circle2 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle2 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color: orangered;
}

.handcrafted {
    text-shadow: .2rem .2rem .2rem white;
    color: rgb(17, 61, 142);
    font-weight: bolder;
    font-style: italic;
    font-size: 4.4rem;
    padding-top: 6rem;

}

.burgers {
    text-shadow: .2rem .2rem .3rem black;
    font-size: 5.7rem;
    color: white;
}

.circle3 {

    text-align: center;
    margin-top: 5rem;
    outline: solid red;
    outline-width: .6rem;
    border: .8rem solid orangered;
    background-color: orangered;
    height: 30rem;
    width: 30rem;
    border-radius: 24rem;
}

.subcircle3 {
    border: .6rem solid white;
    margin-top: .5rem;
    margin-left: 0.42rem;
    height: 28rem;
    width: 28rem;
    border-radius: 24rem;
    background-color: rgb(17, 61, 142);
}


.allnatural {

    margin-top: 4.7rem;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    color: white;
    text-shadow: .2rem .2rem .3rem black;
}

.ingredients {
    line-height: 6.5rem;
    color: red;
    text-shadow: .4rem .5rem .2rem white;
    font-size: 5.3rem;
    font-weight: bolder;
    letter-spacing: 0rem;
}

.box6 {

    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color: rgba(2, 46, 61, 0.899);
    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

.box6:hover {
    color: red;
    transition: color 1s ease-in-out;

}

.text4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: .5rem;
}

.box7 {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 50rem;
}

.subbox1 {
    text-align: center;
    height: 50rem;
    width: 50rem;
}

.subbox2 {
    height: 50rem;
    width: 50rem;
    background-color: red;

}

.subboxtext1 {
    text-shadow: .2rem .2rem .3rem black;
    margin-top: 13rem;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.subboxtext2 {
    text-shadow: .2rem .2rem .3rem black;
    color: red;
    font-size: 4rem;
    font-style: italic;
    font-weight: bolder;
    font-family: cursive;
}

.menubutton {

    border: .2rem solid red;
    border-radius: .6rem;
    letter-spacing: .2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    background-color: white;
    margin-top: 6rem;
    transition: background-color 1s ease-in-out;

}

.menubutton:hover {

    border-radius: .6rem;
    color: white;
    background-color: red;
    transition: background-color, 1.5s ease-in-out;
}

.box8 {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50rem;

}

.subbox3 {
    height: 50rem;
    width: 50rem;

}

.subbox4 {
    height: 50rem;
    width: 50rem;

}

.subboxtext3 {
    margin-top: 19rem;
    text-shadow: .2rem .2rem .3rem black;
    color: rgb(43, 76, 137);
    font-size: 4rem;
    font-style: oblique;
    font-weight: bolder;
    font-family: cursive;
}

.subboxtext4 {
    text-shadow: .2rem .2rem .3rem black;
    color: rgb(17, 61, 142);
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.box9 {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50rem;


}

.subbox5 {
    height: 50rem;
    width: 50rem;
}

.subbox6 {
    background-color: red;
    height: 50rem;
    width: 50rem;

}

.subboxtext5 {
    margin-top: 18rem;
    text-shadow: .2rem .2rem .3rem black;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0rem;
    font-family: sans-serif;
}

.subboxtext6 {
    line-height: 5rem;
    font-size: 2rem;
    text-shadow: .1rem .1rem .2rem black;
    color: red;
    font-weight: bolder;
    letter-spacing: 1.5rem;
    font-family: sans-serif;
}

.subboxtext7 {
    color: red;
    text-shadow: .2rem .2rem .3rem black;
    font-size: 5rem;
    letter-spacing: .5rem;
    font-style: oblique;
    font-family: cursive;

}

.box10 {

    border-top-style: solid;
    border-width: .7rem;
    border-color: grey;
    align-items: center;
    position: relative;
    height: 12rem;
    background-color: rgba(2, 46, 61, 0.899);
    padding-top: 2rem;
    color: white;
    transition: color 1s ease-in-out;

}

.box10:hover {
    color: red;
    transition: color 1s ease-in-out;

}

.text5 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 4.8rem;
    letter-spacing: .5rem;
}

.box11 {
    display: flex;
    justify-content: space-evenly;
    height: 60rem;
    background-color: rgba(2, 46, 61, 0.899);
}

.subbox7 {
    display: block;
    justify-content: center;
    text-align: center;
    height: 45rem;
}

.subbox8 {
    text-align: center;
    height: 30rem;

}

.subboxtext8 {

    text-shadow: .2rem .2rem .3rem black;
    letter-spacing: 0rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.subboxtext9 {
    text-shadow: .2rem .2rem .3rem black;
    letter-spacing: 0rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.subbox9 {
    background-color: black;
    margin-top: 2rem;
    height: 40rem;
    background-color: black;
}

.subbox9 iframe {
    height: 100%;
    width: 100%;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    text-align: start;
}


.onebar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.2rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.secondbar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.thirdbar {
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
    font-weight: bold;
    width: 100%;
    border: .2rem solid black;
    padding-top: 2rem;
}

.onebartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.secondbartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.thirdbartext {
    text-shadow: .2rem .2rem .2rem black;
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
}

.box12 {
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: white;
    border-top-style: solid;
    border-width: .7rem;

}

.box12text1 {
    color: red;
    padding-top: 2rem;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
}